body{
    background: sandybrown;
}
a:Link{
    color:lightslategrey;
    text-decoration: darkgrey;
    font-style: italic;
}
a:visited{
    color:lightblue;
    text-decoration: none;
}
button{
    background-color: #697887;
    color: brown;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: larger;
    font-style: oblique;
    font-weight: bold;
}

#logo{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

#everyContent{
    margin: auto;
    width: 100%;
    alignment: center;
}
#banner{
    font-size: 80px;
    font-style: italic;
}
#menuBar{
    background: darkslategrey;
    border-style: double;
}
#menuBar .menuButton{
    margin-left: 4%;
    width: 10%;
    height: 40px;
    background: dimgray;
    text-align: center;
    color: dimgray;
    border-radius: 20px;
    display: inline-block;
    transition-duration: 0.5s;
    font-size: 30px;
}
#menuBar .menuButton:HOVER{
    background-color: black;
}

#content_outer{
    color: lightslategray;
    border-style: solid;
    background: darkslategray;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: larger;
}
#content{
    font-size: larger;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
#header{
    text-align: left;
    font-size: 45px;
    color: lightslategray;
}

#Description{
    display: none;
    padding-bottom: 5px;
}
#allTable{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 100%;
    alignment: center;
    border: none;
    font-size: larger;
}
#allTableth{
    border: solid;
    font-size: 40px;
    height: 25px;
}
#allTabletd{
    border: 2px solid black;
}

input[type=text], input[type=date], input[type=number], select{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: larger;
}
input[type=submit]{
    background-color: #697887;
    color: brown;
    padding: 12px 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
}
input[type=submit]:HOVER {
    background-color: black;
}
.container{
    margin: auto;
    width: 70%;
    padding: 10px;
    font-size: larger;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.list_container{
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.carlist_container{
    margin: auto;
    padding-bottom: 10px;
}

